body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#card {
    height: 100px;
    width: 150px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button {
    cursor: pointer;
    height: 25px;
    width: 25px;
    border-radius: 5px;
}

button.active {
    background-color: cadetblue;
}



